%h1
  Test native datatime pickers input
= react_component "ReactMoneySmartInput", { value: '0,00', type: 'tel' }

/ %h1
/   Test money input (version 2)
/ = react_component "ReactMoneySmartInput", { value: '0,00', type: 'text' }

%p
%div
  = link_to 'Back', [:components]
