%h1 Test money input (version 1)
%i good for Android
= react_component "ReactMoneySmartInput", { value: '0,00', type: 'tel', pattern: '[0-9,.]*' }

%h1 Test money input (version 2)
%i good for iPhone, and need to develop for Android
= react_component "ReactMoneySmartInput", { value: '0,00', type: 'text', pattern: '[0-9,.]*' }

/ %h1 Test money input (version 3)
/ = react_component "ReactMoneySmart2Input", { value: '0,00', type: 'text' }

%p
%div
  = link_to 'Back', [:components]

.console
